/* Add this style in your styles.css */

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #aa1212;
}

#admin-dashboard {
  width: 90%;
  margin: 2rem auto;
  background-color: #660000;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Search bar styles */
#searchBar {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Table styles */
#admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

#admin-table thead tr {
  background-color: #007bff !important;
  color: white;
  font-size: 18px;
}

#admin-table th,
#admin-table td {
  text-align: left;
  padding: 12px;
  border: 1px solid #ccc;
}

#admin-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

#admin-table tbody tr:hover {
  background-color: #ddd;
}

/* Actions icons */
.edit-icon,
.delete-icon {
  cursor: pointer;
  margin: 0 5px;
}

.edit-icon:hover,
.delete-icon:hover {
  opacity: 0.7;
}

/* Pagination styles */
#pagination {
  text-align: center;
  padding: 1rem;
}

#pagination button {
  background-color: #007bff;
  border: none;
  color: rgb(131, 3, 3);
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  cursor: pointer;
  border-radius: 4px;
}

#pagination button:disabled {
  background-color: #ccc;
}

/* Hover state for buttons */
#pagination button:not(:disabled):hover {
  background-color: #00172f;
}

/* Additional styles for table rows */
#row-container tr {
  font-size: 20px;
}

#row-container td {
  padding: 15px;
}
